<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ImageFolderPath" value="d:\Dropbox\Programming\XNA\Raycasting\Raycasting\bin\Windows\x86\Debug\Images\"/>-->
    <!--<add key="ImageFolderPath" value=""/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
