<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="imagePath" value="D:\Dropbox\Programming\XNA\Raycasting\Raycasting\Images\Clean;D:\Dropbox\Programming\XNA\Raycasting\Raycasting\Images"/>-->
    <add key="imagePath" value="D:\Dropbox\Programming\XNA\Raycasting\Raycasting\Images_zip"/>
  </appSettings>
</configuration>